@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rock Climbing DB</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enjoy your personal Rock Climbing LogBook</h2>
        <p>
            Rock Climbing DB is an application for registering Sport Climbing ascents around the world.
        </p>
    </div>
</div>